{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% load sstatic %}
{% load i18n %}

{% block title %}Account{% endblock %}
{% block page_title %}Account{% endblock %}

{% block extra_js %}
<script type="text/javascript">
function get_jobs_url(){return '{% url 'webapi:job-list' %}'};
function get_job_url(s){return '{% url 'webui:job-detail' 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx' %}'.replace('xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',s)};
function get_job_api_url(s){return '{% url 'webapi:job-detail' 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx' %}'.replace('xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',s)};
</script>
<script src="{% sstatic '/js/account.js' %}"></script>
{% endblock %}

{% block content %}
<div class="col-xs-12 col-md-8 col-lg-9 col-xl-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Jobs</h3>
        </div>
        <div class="panel-body animate">
            <table id="results_table"></table>
        </div>
    </div>

</div>
<div class="col-xs-12 col-md-4 col-lg-3 col-xl-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Actions</h3>
        </div>
        <div class="panel-body text-center">
            <a role="button" class="btn btn-default btn-block" href="{% url 'webui:change_password'%}">Change password</a>
            <a role="button" class="btn btn-default btn-block" href="{% url 'webui:user-update'%}">Update account</a>
            <a role="button" class="btn btn-default btn-block" href="{% url 'webui:user-delete'%}">Delete your account</a>
        </div>
    </div>
</div>
{% endblock %}