{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<div class="col-xs-12 {%if not medium_width%}col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-xl-4 col-xl-offset-4 col-xxl-2 col-xxl-offset-5{%endif%}{%if medium_width%}col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3 col-xxl-4 col-xxl-offset-4 col-xxxl-2 col-xxxl-offset-5{%endif%}">
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button class="btn btn-primary {{btn_classes}} full-width" type="submit">{{ submit_text }}</button>
    </form>
</div>
{% endblock %}