{% load bootstrap %}
<div class="col-xs-12">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <div class="row">
                        <a data-toggle="collapse" class="color-inherit" href="#collapse-{{param_name}}" aria-expanded="false">
                            <div class="col-xs-9">
                                <i class="fa fa-plus to-expand-icon"></i>
                                <i class="fa fa-minus to-collapse-icon"></i>
                                {{param_verbose_name}}
                                <span class="param-indicator"></span>
                            </div>
                        </a>
                        <div class="col-xs-3 text-right">
                                <input type="checkbox"
                                       class="param-auto"
                    {% for field in full_form %}
                    {% if field.name == param_name_auto %}
                    {% if field.initial %}checked{% endif %}
                    {% endif %}
                    {% endfor %} data-toggle="toggle" data-on="<i class='fa fa-magic'></i> Auto" data-off="<i class='fa fa-wrench'></i> Manual"
                                       data-onstyle="primary" data-offstyle="default" data-size="mini"
                                       id="id_{{param_name_auto}}" name="{{param_name_auto}}">
                            </div>
                        </div>
                </h4>
            </div>
            <div id="collapse-{{param_name}}" class="panel-collapse collapse {% for field in full_form %}
                    {% if field.name == param_name_auto %}
                    {% if not field.initial %}in{% endif %}
                    {% endif %}
                    {% endfor %}">
                <div class="panel-body param-host" id="{{param_name}}-host">
                    {% for field in full_form %}
                    {% if field.name == param_name %}
                    {{ field|bootstrap }}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>