{% extends "base.html" %}
{% load bootstrap %}
{% block page_title %}Compute consensuses{% endblock %}
{% block title %}Compute consensuses{% endblock %}


{% block content %}
<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Data</div>
        <div class="panel-body">
            <textarea></textarea>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Normalization</div>
        <div class="panel-body">
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Distance</div>
        <div class="panel-body">
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Algorithms</div>
        <div class="panel-body">
        </div>
    </div>
</div>
<div class="col-xs-12">
    <center>
        <button role="button" class="btn btn-lg btn-primary">
            Compute
        </button>
    </center>
</div>
{% endblock %}