{% extends "base.html" %}
{% load bootstrap %}
{% load static %}
{% load sstatic %}
{% load i18n %}
{% block page_title %}CoRankCo : Consensus Ranking Computation{% endblock %}

{% block ref_google %}<meta name="google-site-verification" content="i7rX69zqprEO5QuvuBdkc_M47iY5TAFtkgYAQxRMjTQ" />{% endblock %}
{% block title %}Compute a consensus{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/quick_compute.css' %}"/>
{% endblock %}

{% block extra_js %}
<script src="{% sstatic '/js/quick_compute.js' %}"></script>
<script src="{% static '/js/median_ranking_tools.js' %}"></script>
<script type="text/javascript">
webapi_dataset_list='{% url 'webapi:dataset-list' %}';
</script>
{% endblock %}

{% block container-class %} container-fluid{% endblock %}
{% block content %}
<div class="col-xs-12 col-xxxl-7"><div class="row">
<form method="post" data-check-url="{%url 'webui:computation_evaluate'%}" data-submit-url="{%url 'webui:computation_on_the_fly'%}"
    data-batch-url="{%url 'webui:computation_batch'%}">
    {% csrf_token %}
    <div class="col-xs-12 col-lg-8">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-type">
                            {%trans 'Dataset (type your dataset)'%}
                        </a>
                    </h4>
                </div>
                <div id="collapse-type" class="panel-collapse collapse">
                    <div class="panel-body" id="data-host">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 col-xxxl-11">
                                <div class="form-group">
                                    <textarea spellcheck="false" id="id_dataset" class="form-control text-area" rows="8"
                                              name="dataset">{% for field in full_form %}{% if field.name == "dataset" %}{{ field.initial }}{% endif %}{% endfor %}</textarea>
                                    <span class="help-block"></span>
                                </div>
                                {% for field in full_form %}{% if field.name == "dataset" %}{{ field.help_text }}{% endif %}{% endfor %}
                            </div>
                            <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-4 col-md-3 col-lg-2 col-xxxl-1">
                                <div class="form-group">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>{%trans 'Stats'%}</th>
                                            <th>
                                                <i id="future-update-indicator" class="fa fa-pencil" style="display:none"></i>
                                                <i id="updating-stats-indicator" class="fa fa-refresh spin" style="display:none"></i>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th title="{%trans 'The number of elements in the dataset'%}">n</th>
                                            <td id="stats-n">-</td>
                                        </tr>
                                        <tr>
                                            <th title="{%trans 'The number of rankings in the dataset'%}">m</th>
                                            <td id="stats-m">-</td>
                                        </tr>
                                        <tr>
                                            <th
                                                title="{%trans 'Is each element present in each ranking of the dataset?'%}"
                                                id="stats-complet"
                                                colspan="2"
                                            >
                                                <span class="yes">{%trans 'Complete'%}</span>
                                                <span class="no">{%trans 'Not complete'%}</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th id="stats-invalid" colspan="2" class="text-danger" style="display:none">{%trans 'Invalid'%}</th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-range">
                            {%trans 'Select from database'%}
                        </a>
                    </h4>
                </div>
                <div id="collapse-range" class="panel-collapse collapse">
                    <div class="panel-body text-center" id="range-host">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-xl-7 col-xxxl-8">
                                <table class="compact table" id="datasets_range_table" width="100%"></table>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-xl-5 col-xxxl-4">
                                <div class="slider-host range-slider" id="nb-elt">
                                    <div class="">#Elements</div>
                                    <div class=" ">
                                        <input class="min form-control input-sm" type="number" value=""/>
                                    </div>
                                    <div class="slider-parent">
                                        <input type="text" class="slider" value="" data-slider-min="10"
                                               data-slider-tooltip="hide"
                                               data-slider-max="1000"
                                               data-slider-value="[250,450]"/>
                                    </div>
                                    <div class=" ">
                                        <input class="max form-control input-sm" type="number" value=""/>
                                    </div>
                                </div>
                                <br/>
                                <div class="slider-host range-slider" id="nb-ranking">
                                    <div class="">#Rankings</div>
                                    <div class="">
                                        <input class="min form-control input-sm" type="number" value=""/>
                                    </div>
                                    <div class="slider-parent">
                                        <input type="text" class="slider" value="" data-slider-min="10"
                                               data-slider-tooltip="hide"
                                               data-slider-max="1000"
                                               data-slider-value="[250,450]"/>
                                    </div>
                                    <div class="">
                                        <input class="max form-control input-sm" type="number" value=""/>
                                    </div>
                                </div>
                                <br/>
                                <div class="row slider-host pick-slider" id="">
                                    <div class="col-xs-4">Complete (not wired yet)</div>
                                    <div class="col-xs-6">
                                        <input id="is-complete"
                                               class="slider"
                                               type="text"
                                               data-slider-value="1"
                                               data-slider-ticks="[0, 1, 2]"
                                               data-slider-tooltip="hide"
                                               data-slider-ticks-labels='["No", "both", "yes"]'/>
                                    </div>
                                </div>
                                <br/>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-group-addon" disabled="disabled">On selection, check:</button>
                                    <button type="button" class="btn btn-default uncheck">None</button>
                                    <button type="button" class="btn btn-default toggle-check">Inverse</button>
                                    <button type="button" class="btn btn-default check">All</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-4">
        <div class="row">
            {%trans 'Normalization' as norm_verbose%}
            {% include "webui/quick_compute_param_panel.html" with full_form=full_form param_name='norm' param_name_auto='norm_auto' param_verbose_name=norm_verbose %}
            {%trans 'Distance' as dist_verbose%}
            {% include "webui/quick_compute_param_panel.html" with full_form=full_form param_name='dist' param_name_auto='dist_auto' param_verbose_name=dist_verbose %}
            {%trans 'Algorithms' as algo_verbose%}
            {% include "webui/quick_compute_param_panel.html" with full_form=full_form param_name='algo' param_name_auto='algo_auto' param_verbose_name=algo_verbose %}
            <div class="col-xs-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title last-to-right">
                                    <a data-toggle="collapse" class="color-inherit" href="#collapse-compute-settings" aria-expanded="false">
                                        <div class="">
                                            <i class="fa fa-plus to-expand-icon"></i>
                                            <i class="fa fa-minus to-collapse-icon"></i>
                                            {%trans 'Computation settings'%}
                                            <span class="param-indicator"></span>
                                        </div>
                                    </a>
                                    <div>
                                            <input type="checkbox"
                                                   class="param-auto"
                                                   data-toggle="toggle"
                                                   data-on="<i class='fa fa-magic'></i> Auto"
                                                   data-onstyle="primary"
                                                   data-off="&nbsp;&nbsp;<i class='fa fa-hand-pointer-o'></i> No&nbsp;&nbsp;&nbsp;&nbsp;"
                                                   data-offstyle="default"
                                                   data-size="mini"
                                                   id="id_compute_settings"
                                                   name="compute-settings"
                                                   checked
                                            >
                                        </div>
                            </h4>
                        </div>
                        <div id="collapse-compute-settings" class="panel-collapse collapse">
                            <div class="panel-body param-host">
                                {% for field in full_form %}
                                    {% if field.name == 'bench' %}
                                        {{ field|bootstrap }}
                                    {% endif %}
                                {% endfor %}
                                {% for field in full_form %}
                                    {% if field.name == 'auto_compute' %}
                                        {{ field|bootstrap }}
                                    {% endif %}
                                {% endfor %}
                                {% for field in full_form %}
                                    {% if field.name == 'extended_analysis' %}
                                        {{ field|bootstrap }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                {% for field in full_form %}
                    {% if field.name == 'ranking_source' %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <center>
                    <a role="button" id="btn-compute" class="btn btn-lg btn-primary" onclick="compute_consensus_from_dataset($('form'));">
                        <span class="glyphicon glyphicon-refresh spin" style="display:none"></span>
                        {%trans 'Compute'%}
                    </a>
                </center>
                <div class="panel-group"></div>
            </div>
        </div>
    </div>
</form>
</div></div>
<div class="col-xs-12 col-xxxl-5">
<div class="panel panel-default">
    <div class="panel-heading">{%trans 'Results'%} <i id="computing-indicator" class="fa fa-refresh spin" style="display: none;"></i></div>
    <div class="panel-body" id="results-host">
        <table id="results_table" class="display compact" width="100%"><tr><td class="text-center"><i>{%trans 'Press Compute'%}</i></td></tr></table>
    </div>
</div>
</div>
{% if full_form_bis %}
    <div class="col-xs-12">
        {{full_form_bis|bootstrap_horizontal:'col-xs-3'}}
    </div>
{% endif %}
{% endblock %}