.form-group>.control-label{
    display:none;
}
.slider.slider-horizontal{
    width:100% !important;
}
.slider-host.pick-slider .slider-selection {
    background-image: none;
    box-shadow:none;
}
.slider-host.pick-slider .slider-tick.in-selection{
    background-image: -webkit-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);
    background-image: -o-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);
    background-image: linear-gradient(to bottom,#f9f9f9 0,#f5f5f5 100%);
}
.slider-host{
    display: flex;
}
.slider-host>div>input{
    width:50px;
}
.slider-host>*:last-child{
    padding-right: 0px;
}
.slider-host>*{
    padding-right: 15px;
    padding-left: 0px;
    flex: 0 auto;
}
.slider-host>.slider-parent{
    flex: 1 1;
}
.param-indicator{
    display:none;
}
.collapsed  .param-indicator{
    display:initial;
    font-style: italic;
    color: #777;
    font-size: 0.8em;
}