.form-group>.control-label{
    display:none;
}
.slider.slider-horizontal{
    width:100% !important;
}
.slider-host.pick-slider .slider-selection {
    background-image: none;
    box-shadow:none;
}
.slider-host.pick-slider .slider-tick.in-selection{
    background-image: -webkit-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);
    background-image: -o-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);
    background-image: linear-gradient(to bottom,#f9f9f9 0,#f5f5f5 100%);
}